.container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-app-dark);
    height: calc(100vh - var(--header-height));
}

a {
    margin: 10px 15px;
    color: var(--color-app-lighter);
    &:active{
        color: var(--color-app-light)
    }
}