/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/general.scss';


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
      outline: none;
    }
  }

  body {
    font-size: var(--fs-12);
    margin: 0;
    overflow: hidden;
    height: 100vh;
  }
